.footer {
    background-color: white;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-about, .footer-contact {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-about h2, .footer-contact h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-about p, .footer-contact p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .footer-bottom{
    font-size: 15px;
  }

  
.down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.down-box {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  transition: transform 0.2s;
  border-radius: 5px;
  cursor: pointer;
  width: 15vw;
}

.down-box i {
  font-size: 50px;
  margin-bottom: 10px;
}

.down-box:hover {
  transform: scale(1.05);
}


  
  